@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline+Display&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    height: 100vh;
    display: flex;
    background-color: #637081;
    background-image: linear-gradient(315deg, #637081 0%, #7c98b3 74%);

  }
  header{
      font-family:'Big Shoulders Inline Display', cursive; 
      font-size: 45px;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

  }
@media only screen and (min-width: 768px){
    header{
      font-size: 5rem;
      top: 25%;
    }
  }
  .memory-game {
    width: 640px;
    height: 640px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
  }
  
  .memory-card {
    width: calc(25% - 10px);
    height: calc(33.333% - 10px);
    margin: 5px;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
  }
  
  .memory-card:active {
    transform: scale(0.97);
    transition: transform .2s;
  }
  
  .memory-card.flip {
    transform: rotateY(180deg);
  }
  
  .front-face,
  .back-face {
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute;
    border-radius: 5px;
    background-color: #ffffff;
background-image: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
    backface-visibility: hidden;
  }
  
  .front-face {
    transform: rotateY(180deg);
  }
